<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="overflow: hidden;">
    <div class="container pt-4" style="height: 100vh; max-width: 100%; margin: 0 2% 0 2%;">
        <div class="row" style="width:100%;">
            <div class="col-lg-8 justify-content-center" style="height: 70vh; margin-top: 3%;">
                <div style="text-align: center;">
                    <img id="video-feed" src="{{ url_for('video_feed') }}" width="65%" style="border:5px double black;">
                </div>
                <hr style="margin: 3% auto 1% auto;" width="92%"/>
                <div style="padding: 1% 0 0 5%">
                    <p style="font-size: 1.1rem;">Performing pose:</p>
                    <p style="font-size: 1.6rem;"> <b>{{ pose }}</b> </p>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 4%;">
                <p style="text-align: center;">Pose reference: </p>
                <div class="mb-3 mx-auto" style="height: 280px; width: 280px; overflow: hidden; display: flex;">
                    <img id="yogaImage" src="" alt="" style="height: 100%; width: 100%; object-fit: contain;">
                </div>
                <hr style="margin: 8% auto 0 auto;" width="50%"/>
                <div style="padding-top:5%;">
                    <p style="font-size: 1.2rem; text-align: center;">Status: </p>
                    <p id="poseStatus" style="color:red; font-size: 1rem; text-align: center;">Incomplete Pose, please keep trying</p>
                </div>
                <hr style="margin: 8% auto 0 auto;" width="50%"/>
                <div style="padding-top: 8%; text-align: center; max-width: 100%">
                    <button type="button" id="startButton" class="btn btn-outline-dark btn-lg px-3 py-1 md-2 fw-bold" onclick="start()">Start</button>
                    <a id="stopButton" href="{{ url_for('home') }}" class="btn btn-outline-dark btn-lg px-3 py-1 md-2 fw-bold disabled" style="pointer-events: none;">Stop</a>
                    <a href="/user_data">
                        <button type="button" class="btn btn-outline-dark btn-lg px-3 py-1 md-2 fw-bold">History</button>
                    </a>
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</body>

<script>
var socket;
var start;
var end;

function start() {
    // Start the socket connection
    startSocket();
    socket.emit('start');

    // Change the Start button text
    var startButton = document.getElementById('startButton');
    startButton.textContent = 'Started';

    // Enable the Stop button
    var stopButton = document.getElementById('stopButton');
    stopButton.classList.remove('disabled'); // Remove the Bootstrap 'disabled' class
    stopButton.style.pointerEvents = 'auto'; // Re-enable pointer events
}

function startSocket() {
    socket = io.connect();
    socket.on('connect', function() {
        start = new Date().getTime();
        console.log("connected");
    });

    socket.on('complete', function() {
        var poseStatus = document.getElementById('poseStatus');
        poseStatus.innerHTML = "Pose Complete";
        poseStatus.style.color = "green";
        end = new Date().getTime();
        var time = end - start;

        if (Math.round(time / 1000) < 45) {
            var ele = document.getElementById('poseStatus');
            ele.style.color = "red";
            ele.innerText = "You took " + Math.round(time / 1000) + " sec";
        } else {
            document.getElementById('poseStatus').innerText = "Pose completed on time";
        }
        clearTimeout(timerId);
        socket.emit('storeAngle');
    });
}

function getHeatmap() {
    socket.emit('heatmap'); 
}

function gethistory() {
    socket.emit('user_data'); 
}

// Load the correct pose image
var imageFolderPath = 'static/poseImages/';
var placeholderImagePath = 'static/poseImages/notfound.jpg';
var selectedPose = "{{ pose }}";
var imagePathPng = imageFolderPath + selectedPose + '.png';
var imagePathJpg = imageFolderPath + selectedPose + '.jpg';

fetch(imagePathPng)
  .then(response => {
      if (response.ok) {
          yogaImage.src = imagePathPng;
      } else {
          tryJpg();
      }
  })
  .catch(() => {
      tryJpg();
  });

function tryJpg() {
  fetch(imagePathJpg)
      .then(response => {
          if (response.ok) {
              yogaImage.src = imagePathJpg;
          } else {
              yogaImage.src = placeholderImagePath;
          }
      })
      .catch(() => {
          yogaImage.src = placeholderImagePath;
      });
}

// Handle page unload
window.addEventListener('unload', function () {
    navigator.sendBeacon('/close_webcam');
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</html>
